.main {
  max-width: 100%;
  overflow-x: hidden;
  background: url(../assets/main-bg-2.png) center/cover no-repeat #fff;

  @include tablet {
    background-image: url(../assets/main-bg-mobile.png);
    background-size: 100% auto;
    background-position: bottom;
  }
}
