.intro__description {
  font-family: var(--second-font);
}

.hero {
  background: url(../assets/hero-bg2x.webp) right/cover no-repeat #000;
  padding-bottom: 101px;
}

.header-mobile {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro__rating,
.intro__tag {
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
}

.intro {
  padding-top: 83px;
}
.intro__image {
  margin-bottom: 66px;
}
.intro__flex {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 19px;
}
.intro__dot {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background: #fff;
}
.intro__description,
.intro__rating {
  width: 100%;
  color: #fff;
  font-weight: 400;
}
.intro__rating {
  border: 3px solid #fff;
  border-radius: 11px;
  padding: 11px 5px 10px 13px;
  text-align: center;
  max-width: 77px;
  display: flex;
  justify-content: center;
}
.intro__description {
  font-size: 27px;
  line-height: 140%;
  max-width: 711px;
  margin-bottom: 60px;
}
.intro__watch {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 43px 60px 41px 36px;
  border-radius: 86px;
  color: #ffffff;
  background: #d11938;
  font-size: 32px;
  line-height: 1;
}

.header-mobile__link {
  font-weight: 400;
  line-height: 129%;
  color: #fff;
}

.header-mobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  background: url(../assets/header-mobile-bg.jpg) center/cover no-repeat #000;
  padding: 18px 0;
  overflow-y: auto;
  transform: translateX(100%);
  transition: 0.3s;
  opacity: 0;
}
.header-mobile.active {
  transform: translateX(0);
  opacity: 1;
}
.header-mobile__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 221px;
  padding-right: 13px;
}
.header-mobile__close {
  padding: 0;
  background: 0 0;
}
.header-mobile__top .header__logo {
  width: 109px;
}
.header-mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  width: 100%;
}
.header-mobile__link {
  font-size: 32px;
  text-align: center;
}

@media (max-width: 992px) {
  .intro__rating,
  .intro__tag {
    font-size: 26px;
  }

  .intro {
    padding-top: 30px;
  }
  .intro__image {
    width: 250px;
    margin-bottom: 40px;
  }
  .intro__flex {
    gap: 20px;
  }
  .intro__rating {
    padding: 9px 3px 8px 10px;
  }
  .intro__description {
    font-size: 22px;
    max-width: 456px;
    margin-bottom: 40px;
  }
  .intro__watch {
    padding: 33px 46px 31px 30px;
    border-radius: 47px;
    font-size: 23px;
  }
  .hero {
    padding-bottom: 60px;
  }
}

@media (max-width: 1300px) {
  .hero {
    background: url(../assets/hero-bg-1300.jpg) right / cover no-repeat;
    object-fit: cover;
    height: auto;
    padding-bottom: 77px;
  }
}

@media (max-width: 860px) {
  .hero {
    background: url(../assets/hero-bg-mobile.jpg) top / cover no-repeat;
    object-fit: cover;
    height: auto;
    padding-bottom: 77px;
  }
}

@media (max-width: 1280px) {
  .intro__rating,
  .intro__tag {
    font-size: 16px;
  }

  .hero {
    padding-bottom: 77px;
  }

  .intro {
    padding-top: 304px;
  }
  .intro__image {
    width: 203px;
    margin-bottom: 23px;
  }

  .intro__dot {
    width: 5px;
    height: 5px;
  }
  .intro__rating {
    border: 2px solid #fff;
    border-radius: 6px;
    max-width: 39px;
    padding-top: 8px;
    padding-bottom: 7px;
  }
  .intro__flex {
    gap: 15px;
    margin-bottom: 13px;
  }
  .intro__description {
    font-size: 15px;
    margin-bottom: 40px;
  }

  .intro__watch {
    max-width: 332px;
    width: 100%;
    text-align: center;
    position: relative;
    border-radius: 86px;
    padding: 20px 15px 19px;
    font-size: 16px;
    justify-content: center;
  }
  .intro__watch img {
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
  }
}
