.footer__image {
  z-index: 2;
  position: relative;
}

.footer__fruit {
  position: absolute;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.pineapple {
  left: 10%;
  top: 44%;
  z-index: 1;
  animation-name: floatRotate;
  animation-delay: 0.5s;
  max-height: 174px;
}

.raspberry {
  left: 0;
  top: 38%;
  z-index: 1;
  animation-name: float;
  animation-delay: 2s;
}

.cherry {
  left: 4%;
  top: 59%;
  z-index: 1;
  animation-name: floatRotate;
  animation-delay: 1.5s;
  max-width: 334px;
}

.orange {
  right: 8%;
  top: 51%;
  animation-name: float;
  animation-delay: 0.7s;
  max-height: 150px;
}

.strawberry {
  right: 8%;
  top: 40%;
  animation-name: floatRotate;
  animation-delay: 1.2s;
}

.currant1 {
  top: 0;
  left: 20%;
  animation-name: float;
  animation-delay: 1s;
}

.currant2 {
  top: -5%;
  left: 35%;
  animation-name: floatRotate;
  animation-delay: 0.1s;
}

.currant3 {
  top: 4%;
  right: 20%;
  animation-name: float;
  animation-delay: 2s;
}
@media (max-width: 992px) {
  .footer__fruit {
    width: 14%;
  }
  .currant1,
  .currant2,
  .currant3 {
    width: 20px;
  }
  .raspberry {
    top: 39%;
  }
  .cherry {
    top: 75%;
    left: 10%;
  }
  .orange {
    top: 75%;
    right: 10%;
  }
}
